body {
	background-color: #0e1a2f;
}

.hello {
	width: 100%;
}

.hello h1 {
	font-size: 70px;
	margin: 30px 0;
	text-align: center;
	color: #48a8dc;
}

.hello .kind {
	display: flex;
	justify-content: space-around;
}

.hello .kind a {
	font-size: 40px;
	color: #fff;
}

.hello .kind a:hover {
	color: #48a8dc;
}

