.flex {
    display: flex;
    flex-wrap: wrap;
}

// ------ align items ------
.a-start {
    align-items: flex-start;
}
.a-end {
    align-items: flex-end;
}
.a-center {
    align-items: center;
}
// ------ align items ------

// ----- justify content -----
.j-between {
    justify-content: space-between;
}
.j-around {
    justify-content: space-around;
}
.j-center {
    justify-content: center;
}
.j-start {
    justify-content: flex-start;
}
.j-end {
    justify-content: flex-end;
}
// ----- justify content -----